html,
body {
    height: 100%;
    font-family: 'Open Sans'
}
html {
    font-size: 10px;
}
@media screen and (min-width: 32em){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}
.welcome {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(ellipse, $normal, $dark);

    h1 {
        color: $white;
        font-weight: bold;
    }

    .welcome__description {
        line-height: 1.5;
        padding: 0 0.5rem;
        font-size: 1.35rem;
        font-weight: 300;
    }

    a.scroll-down {
        color: $white;
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem 0.3rem;
        padding-right: 2rem;
        border-radius: 0.3rem;
        margin: 1rem;
        border: 0.1rem solid $white;
        position: relative;
        background-color: $dark;
        padding-right: 1.5rem;
        &:hover {
            border: 0.1rem solid $dark;
        }
        &:after {
            content: '';
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 0px;
            height: 0px;
            border-top: 0.5rem solid $white;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
        }
        .text {
          margin: 0 1rem;
        }
    }
}