doctype html
html
  block config
  head
    title=title
    meta(description=description, name=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
  body
    block content
    include ../menu/menu
    include ../footer/footer