.menu {
  margin: 0.5rem;
  text-align: center;
}
.menu__panel {
  margin: 0.5rem 0rem;
}
.menu__title {
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: $normal;
  color: $white;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}
.menu__list {
  font-size: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: $dark;
  color: $white;
  
  a {
    color: $white;
    text-decoration: none;
    padding: 0.5rem 0rem;
    display: block; 
    &:hover {
      color: black;
    }
  }
}
li a:hover {
  color: black;
}